html {
    /* sticky footer - code from the DWA15 course example application */
    position: relative;
    min-height: 100%;
}

body {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background: rgb(0, 212, 255);
    background: -moz-linear-gradient(0deg, rgba(0, 212, 255, 1) 0%, rgba(0, 166, 255, 1) 46%, rgba(0, 112, 255, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 212, 255, 1) 0%, rgba(0, 166, 255, 1) 46%, rgba(0, 112, 255, 1) 100%);
    background: linear-gradient(0deg, rgba(0, 212, 255, 1) 0%, rgba(0, 166, 255, 1) 46%, rgba(0, 112, 255, 1) 100%);
    /* sticky footer - code from the DWA15 course example application - match footer height */
    margin-bottom: 60px;
}
nav {
    margin: 0 0 2em 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 1em;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    }
nav a:hover {
    font-weight: bold;
    text-decoration: none;
}

h1 {
    font-size: 4.5rem;
    padding: 2rem 2rem 0rem 2rem;
    font-weight: 100;
    letter-spacing: .2rem;
    font-family: 'Source Sans Pro', sans-serif;
}

form {
    text-align: left;
    margin: 1rem 0;
}

label {
    display: block;
    padding: 0.5rem 0;
}

[type="text"] {
    width: 100%;
}

[type="date"] {
    width: 100%;
}

.radio {
    padding: 0 0;
    width: auto;
}

input {
    display: block;
    padding: .25em .5em;
}

[type='radio'] {
    display: inline;
}

[type='submit'] {
    text-align: center;
    margin: 0 auto;
}

form {
    margin: 2rem 0;
}

.error {
    color: #cc0000;
    font-size: 0.75em;
    margin-bottom: 1rem;
}

.alert {
    text-align: center;
    font-size: 1.25rem;
    color: black;
    width: 100%;
    padding: .75rem;
    background-color: white;
}

.entry {
    margin: .5rem;
    padding: .5rem;
    border: 1px solid white;
}
.entry a {
    color: white;
    text-decoration: none;
}
.entry a:hover {
    font-weight: bold;
    text-decoration: underline;
}

footer {
    text-align: left;
    padding-left: 2rem;

    /* sticky footer - code from the DWA15 course example application */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

footer > a {
    color: #ffffff;
}